<div class="col-xs-12">
    <div class="row">
        <button class="btn m-b-xs btn-sm btn-primary btn-addon"><i class="fa fa-plus"></i>Add</button>
        <div ui-calendar="uiConfig.calendar" ng-model="events"></div>
    </div>
    <div class="row">
        <div ng-controller="newAppointmentCtrl">
            <form novalidate class="simple-form">
                <div class="col-md-4">
                    Name:
                    <input type="text" ng-model="appointment.client" />
                    <br> Date:
                    <p class="input-group">
                        <input type="date" class="form-control" datepicker-popup ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                        <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button></span>
                    </p>
                    <br />Hairdresser:
                    <input type="text" ng-model="appointment.hairdresser" />
                    <br />
                    <input type="submit" ng-click="update(appointment)" value="Save" />
                </div>
            </form>
        </div>
    </div>
</div>
